.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 6;
    background-color: black;
    opacity: 1;
}

.load-screen {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: black;
    width: 0%;
    height: 100%;
}

.load-logo-empty {
    display: inline;
    position: absolute;
    opacity: 0;
    width: 30%;
    margin-left: 10%;
    margin-top: 5%;
    max-width: 600px;
}

.load-logo-square {
    display: inline;
    position: absolute;
    opacity: 0;
    width: 10%;
    margin-left: 85%;
    margin-top: 15.2%;
    max-width: 200px;
}

.load-title {
    text-align: center;
    opacity: 0;
    color: black;
    font-size: 10vw;
    text-shadow: 0.5vw -0.5vw rgba(247, 84, 52, 0.4);
}

.info-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
    background-color: rgba(247, 84, 52, 1);
}

.next {
    position: absolute;
    top: 45%;
    right: 20px;
    font-size: 20vw;
    color: white;
    padding: 0;
    line-height: 0;
}

.next:hover, .prev:hover {
    cursor: pointer;
    color: rgba(247, 84, 52, 1);
}

.prev {
    position: absolute;
    top: 45%;
    padding: 0;
    left: 20px;
    font-size: 20vw;
    color: white;
    line-height: 0;
}

.info-content {
    height: 100vh;
    width: 100vw;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.info-content-text {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 5vw;
    z-index: 10;
    opacity: 0;
}

.info-shop {
    color: white;
    text-decoration: none;
}

.info-shop:hover {
    color: rgba(247, 84, 52, 1);
}

.skip {
    pointer-events: initial;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 60px;
    left: 45%;
    width: 300px;
    height: 50px;
    z-index: 100;
    border-color: white;
}

.skip:hover {
    color: rgba(247, 84, 52, 1);
    background-color: white;
    border-color: rgba(247, 84, 52, 1);
}