
.next-row {
    position: absolute;
    display: block;
    float: left;
    margin-top: 50%;
}

.content {
    margin: 2px auto;
    width: 20vw;
    font-size: 22px;
    height: 35vw;
    max-height: 300px;
    max-width: 150px;
}

@media (max-width: 767px) {
    .content {
        width: 35vw;
        height: 70vw;
        font-size: 22px;
    }
}

.price {
    margin-bottom: 5px;
    margin-top: 5px;
}

.card {
    border: 2px solid black;
    position: relative;
}

.card:hover {
    transform: translate(5px,5px);
    box-shadow: -5px -5px rgba(247, 84, 52, 0.2);
}

.card-body {
    padding: 3px;
}

.card-title {
    font-size: 28px;
}

.price-text {
    position: absolute;
    bottom: -15px;
    right: 5px;
    color: rgb(247, 84, 52);
    font-weight: bold;
}

.card-img-top {
    max-height: 200px;
    max-width: 150px;
}

.dress-row {
    max-width: 800px;
    margin: 0 auto;
}