h3.title {
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
}

.footer {
    color: white;
    background-color: black;
    font-size: 16px;
    height: 60px;
}

.footer-closed {
    color: white;
    background-color: black;
    font-size: 16px;
    bottom: 0px;
    position: fixed;
    height: 40px;
    z-index: 300;
}

.contact {
    text-align: center;
    padding: 0;
    height: 15px;
    margin-bottom: 10px;
}

.contact a:hover {
    font-size: 18px;
    cursor: pointer;
}

.info-btn {
    font-size: 20px;
    text-align: center;
    margin: auto;
    height: 30px;
    color: white;
    background-color: black;
    border: none;
    padding: 0px;
}

.info-btn:hover {
    background-color: black;
    color: rgb(247, 84, 52);
}


.offcanvas-header {
    position: relative;
    margin-bottom: 15px;
}

.offcanvas-header .btn-close {
    background-color: rgb(247, 84, 52);
    position: absolute;
    right: 8px;
    top: 1px;
    width: 100%;
    border-radius: 0px;
}

.offcanvas-header button.btn-close:hover {
    background-color: white;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-height: 20vh;
}

.offcanvas-header {
    margin-top: 8px;
    padding: 0px;
}