.filters {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    margin: 30px auto;
}

.price {
    margin-bottom: 5px;
    margin-top: 5px;
}

.filter-btn {
    font-size: 16px;
    padding: 3px;
    height: 100px;
    width: 70px;
    background-color: black;
}

.filter-btn:hover {
    background-color: rgb(247, 84, 52);
}

.search {
    width: 200px;
    position: relative;
    margin: auto;
    margin-top: 30px;
}


h3.title {
    text-align: center;
}

.filter-canvas {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.main {
    margin-bottom: 45px;
}

.detailed {
    background-color: rgb(247, 84, 52) !important;
    border-color: black;
}

.detailed:hover {
    color: black;
}

.card {
    border: 2px solid black;
    position: relative;
    min-height: 400px;
}

.card:hover {
    transform: translate(5px,5px);
    -webkit-box-shadow: -23px -23px 10px -7px rgba(247, 84, 52, 1);
    -moz-box-shadow: -23px -23px 10px -7px rgba(247, 84, 52, 1);
    box-shadow: -23px -23px 10px -7px rgba(247, 84, 52, 1);
}

.active>.page-link {
    background-color: black;
}

.form-check-input:checked {
    background-color: rgb(247, 84, 52);
    border-color: black;
}

.form-control {
    display: inline-block!important;
    float: left;
}

.search-box {
    max-width: 290px;
    min-width: 290px;
    float: left;
    position: relative;
}

.price-box {
    max-width: 350px
}

.filter-box {
    max-width: 150px;
}

.price-text {
    position: absolute;
    bottom: -15px;
    right: 5px;
    color: rgb(247, 84, 52);
    font-size: 1.2em;
    font-weight: bold;
}