.filters {
    margin-top: 20px;
    margin-bottom: 20px;
}


.filter-btn {
    font-size: 16px;
    padding: 3px;
    height: 100px;
    width: 70px;
    background-color: black;
}

.filter-btn:hover {
    background-color: rgb(247, 84, 52);
}

.search {
    width: 200px;
    position: relative;
    margin: auto;
    margin-top: 30px;
}


h3.title {
    text-align: center;
}

h2.title {
    text-align: center;
    font-size: 28px;
}

.filter-canvas {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.main {
    margin-bottom: 60px;
}

.detailed {
    background-color: rgb(247, 84, 52) !important;
    border-color: black;
}

.detailed:hover {
    color: black;
}

.active>.page-link {
    background-color: black;
}

.form-check-input:checked {
    background-color: rgb(247, 84, 52);
    border-color: black;
}

.form-control {
    display: inline-block!important;
    float: left;
}

.search-box {
    max-width: 290px;
    min-width: 290px;
    float: left;
    position: relative;
}

.price-box {
    max-width: 350px
}

.filter-box {
    max-width: 150px;
}

.dress-row {
    background-color: #FFF5EE;
}




